.Image-section{
    position: relative;
     
}
.footer-image{
    object-fit: cover;
    width: 100%;
    height: 440px;
}

.animated-text{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 41px;
    color: white;
}
.animation{
    white-space: nowrap;
    overflow: hidden;
    animation: text 5s steps(20) infinite;
    border-right: 3px solid white;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 17ch;
    }
}